.home-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    .main-content{
        width: calc(100% - 104px);
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-right: 32px;
        .top-menu{
            margin: 32px 0px 0 0;
        }
    }
    .left-menu{
        width: 72px;
    }
}