services:
  web:
    build: .
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - /etc/letsencrypt/live/cvprocessor.feel-it-services.com/fullchain.pem:/certs/cert.pem:ro
      - /etc/letsencrypt/live/cvprocessor.feel-it-services.com/privkey.pem:/certs/key.pem:ro
    env_file:
      - .env
    stdin_open: true
    tty: true
    command: npm start