.raw-match-box {
  background-color: #fff;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
  padding: 32px;
  max-width: 700px;
  max-height: 90vh;
  overflow-y: auto;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.raw-match-box::-webkit-scrollbar {
    width: 8px;
}

.raw-match-box::-webkit-scrollbar-thumb {
    background: #8d8989;
    border-radius: 4px;
}

.candidate-paper {
    padding: 16px;
    border-radius: 8px;
    background-color: #fafafa;
    cursor: pointer;
    border: 1px solid #ececec;
}