.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
  padding: 32px;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  outline: none;
  box-sizing: border-box;
}

.modal-box::-webkit-scrollbar {
    width: 8px;
}

.modal-box::-webkit-scrollbar-thumb {
    background: #8d8989;
    border-radius: 4px;
}

.candidate-paper {
    padding: 16px;
    border-radius: 8px;
    background-color: #fafafa;
    cursor: pointer;
    border: 1px solid #ececec;
}

.candidate-paper:hover {
    background-color: #f0f6ff;
    box-shadow: 0 4px 24px rgba(33, 125, 247, 0.09);
    border: 1.5px solid #217df7;
}

.candidate {
    border: solid 2px black ;
    margin: 2px;
    padding:5px;
}