.skill-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(243, 240, 237);
    gap: 0.5rem;
    margin: 5px;
    padding: 0.5rem;
    border-radius: 10px;
}