.candidate-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}

.candidate-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.candidate-wrapper h2 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
}

.candidate-cv-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
  margin-top: auto;
  padding-top: 12px;
}

.uploader {
    padding: 20px;   
}

.candidate-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  min-height: 400px;
}