.ep-add-feel-it-client-button, .ep-delete-feel-it-client-button, .ep-add-feel-it-responsibility-button {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.ep-delete-feel-it-client-button{
    color: #D92D20;
    &:hover{
        color: #D92D20 !important;
    }
}