.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  padding: 16px;
  outline: none;
  box-sizing: border-box;
}

.modal-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.candidate-text {
    width: 250px;
    height: 250px;        
    resize: none;      
    overflow-y: auto;
}