.certifications {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.certifications-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #f9f9f9;
    padding: 0.5rem;
}

.certification-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(243, 240, 237);
    gap: 0.5rem;
    margin: 5px;
    padding: 0.5rem;
    border-radius: 10px;
}