.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70vh;
  margin-top: 40px;
  gap: 50px;
}


.login {
  background: #fff;
  padding: 32px 28px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  border-radius: 8px;
  min-width: 320px;
  flex: 0 1 30%;
  max-width: 370px;
}


.instructions-container {
  background: #f7f7fa;
  border-left: 5px solid #408a95;
  text-align: justify;
  padding: 32px 28px;
  border-radius: 8px;
  min-width: 260px;
  max-width: 700px;
  flex: 0 1 70%;
  color: #222;
}

.instructions-container li {
  margin-bottom: 5px;
}

.login h2 {
  margin-bottom: 1rem;
}

.login form div {
  margin-bottom: 1rem;
  text-align: left;
}

.login label {
  font-weight: bold;
}

.login input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.login button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
