.button-grid {
    justify-content: center;
    align-items: center;
}

.select-field {
    display: flex;
    justify-content: center;
}

.edit-profile {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 20px auto;
    justify-content: center;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.back-button {
    background-color: blue;
    color: white; /* optional, to ensure text is readable */
}