.general-info {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.general-info h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}
